.ant-layout {
  height: 100%;
}

.header {
  padding: 0;
  background: rgb(27 145 255) !important;
}

.logo {
  width: 200px;
  height: 60px;
  // background: url("~@/assets/logo.png") no-repeat center / 160px auto;
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: rgb(0 0 0 / 0%)!important;
  background-image: linear-gradient(45deg,rgb(255 154 158) 0,rgb(250 208 196) 99%,rgb(250 208 196) 100%);
}

.layout-content {
  overflow-y: auto;
}

.user-info {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
  color: #fff;

  .user-name {
    margin-right: 20px;
  }

  .user-logout {
    display: inline-block;
    cursor: pointer;
  }
}
.ant-layout-header {
  padding: 0 !important;
}
