#publishContainer .ant-card-head {
  display: flex !important;
}
#publishContainer .ant-card-body {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#content {
  display: block !important;
  margin-bottom: 1rem;
}
#content .ql-toolbar {
  min-width: 25rem;
}
#content .ql-container  {
  min-width: 25rem;
}
#articleTitleInput{
  margin-left: 7.5%;
  max-width: 73%;
}
#publicArticleBtn{
  margin-left: -20%;
}